@model TaskManagement.Models.Task

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProjectManager.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaskName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaskName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Personel.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Personel.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Project.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TaskID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
